#detailInputDiv button{
    margin: 0 auto;
    width: 75%;
    height: 10%;
    font-size: 20px;
    color: white;
    border:  none;
    transition-duration: 0.4s;
}

.generalButton{
    background-color: var(--accent-color);
}

#detailInputDiv button:hover{
    filter: brightness(100%);
    cursor: pointer;
    border-radius: 15px;
}

#detailInputDiv button:focus{
    outline: none;
}