#mainWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#sideBar{
    flex: 1;
    background-color: var(--secondary-color);
    border-radius: 0 15px 15px 0;
    color: var(--light-text-color);
}

#chatPane{
    flex: 5;
    background-color: var(--primary-color);
}