#mainWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#sideBar{
    flex: 1;
    background-color: #fcd581;
}

#chatPane{
    flex: 5;
    background-color: #fff8e8;
}