#mainWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#sideBar{
    flex: 1;
    background-color: #fcd581;
}

#chatPane{
    flex: 5;
    background-color: #fff8e8;
}

/* TODO: Move these styles into a sidebar.css file */
#toggleSwitch, #searchBar, #communicationEntities, #settings{
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
}

#toggleSwitch, #settings{
    height: 5%;
}

#toggleSwitch{
    border: 1px solid black;
    margin-top: 2%;
}

#searchBar{
    height: 3%;
    border: 1px solid green;
}

#communicationEntities{
    height: 83.3%;
    border: 1px solid red;
}

#settings{
    border: 1px solid yellow;
}