#centerWrapper{
    width: 50%;
    height: 50%;
    border: 3px solid var(--outline-color);
    display: flex;
    border-radius: 10px;
    background-color: var(--secondary-color);

    /* Centers this element relative to its parent container */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centerWrapper div{
    flex: 1;
    border-radius: 10px;
}

#centerWrapper h1, input{
    color: var(--outline-color);
}

#titleDiv h1{
    /* /margin-top: 50%; */
    text-align: center;
    font-size: 4vmax;
    display: flex;
    justify-content: center ;
    align-items: center;
}

#detailInputDiv{
    border-right: 1px solid var(--outline-color);
    border-radius: 0px;
    text-align: center;
}

#detailInputDiv h1{
    text-align: center;
}

input{
    width: 75%;
    height: 10%;
    border: none;
    border-bottom: 3px solid var(--outline-color);
    background-color: #fff8e8;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
}

/* Removes the default focus effect on input elements */
input:focus{
    outline: none;
}

