.wrapper{
    height: 100vh;
    text-align:center;
}

/* Centers an element (horizontally and vertically) relative to its parent element */
.direct-centered{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.centerWrapper{
    /* Size of center wrapper is relative to .wrapper elements (see Login.jsx/Register.jsx)*/
    width: 55%;
    height: 60%;
    background-color: var(--tertiary-color);
    display: flex;
}

/* Applied to divs that are children of .centerWrapper div */
.contentDiv{
    flex: 1;
    font: var(--h1-font);
}

#detailsInputDiv{
    color: var(--dark-text-color);
}

#titleDiv{
    background-color: var(--secondary-color);
    position: relative;
}

/* Applied to input fields within .contentDiv */
.contentDivInputField{
    width: 80%;
    height: 10%;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--accent-color);
    margin-bottom: 8%;
    font-size: 1vmax;
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow-input-field);
    padding-left: 10px;
}

/* Removes default focus effect on input fields with contentDivInputField class */
.contentDivInputField:focus{
    outline: none;
}

#passwordInputField{
    margin-bottom: 0.5%; /* Overrides margin-bottom value in .contentDivInputField */
}

#loginButton{
    width: 60%;
    height: 10%;
    border: none;
    background-color: var(--green-accent-color);
    transition: 0.2s linear;
    color: white;
    font-size: 1.5vmax;
    margin-top: 10%;
    border-radius: 10px;
}

#loginButton:hover{
    box-shadow: var(--box-shadow-lighten);
    cursor: pointer;
}

.loginRegisterUtilityLinks{
    font-size: 0.65vmax;
    font-family: var(--font-family);
    font-weight: lighter;
}

#forgotPasswordLink{
    margin-right: 10%;
    text-align: right;

}

#detailsInputDiv > #registerPageLink{
    position: absolute;
    left: 19.5%;
    bottom: 2%;

    /* Applies bottom centering */
    /* left: 50%; */
    /* -webkit-transform: translateX(-50%); */
    /* transform: translateX(-50%) */
}

#logoImage{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

