#centerWrapper{
    width: 50%;
    height: 50%;
    border: 3px solid var(--outline-color);
    display: flex;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--light-text-color);

    /* Centers this element relative to its parent container */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#detailInputDiv form{
    width: 100%;
    height: 100%;
}

#centerWrapper div{
    flex: 1;
    border-width: 5px;
}

#centerWrapper h1, input{
    color: var(--outline-color);
}

#titleDiv{
    display: flex;
    justify-content: center ;
    align-items: center;
}

#titleDiv h1{
    font-size: 4vmax;
}

#detailInputDiv{
    border-right: 1px solid var(--accent-color);
    text-align: center;
}

#detailInputDiv p{
    font-size: 13px;
}

#accountStatusText{
    /* The combination of these rules allow the message ot be centered at the bottom of the parent div (detailInputDiv) */
    position: absolute;
    width: 50%;
    bottom: 0;
}

#detailInputDiv h1{
    text-align: center;
}

#detailInputDiv input{
    width: 75%;
    height: 10%;
    border: none;
    border-bottom: 3px solid var(--accent-color);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow-lighten);
    text-align: center;
    margin-bottom: 5%;
    font-size: 1vmax;
}

#detailInputDiv input[type="submit"]{
    border:none;
    background-color: var(--accent-color);
    transition: 0.2s linear;
}

#detailInputDiv input[type="submit"]:hover{
    border-radius: 15px;
    cursor: pointer;
}

#detailInputDiv a{
    color: var(--accent-color);
}

/* Removes the default focus effect on input elements */
input:focus{
    outline: none;
}

