.searchBarInputField{
    width: 80%;
    height: 35%;
    border: 0.5px solid black;
    background-color: #EFEFEF;
    border-radius: 10px;
    transition: 0.2s linear;
    font-size: 1vmax;
    text-align: center;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/search.png");
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 2% center;
}

.searchBarInputField:focus{
    outline: none;
    box-shadow: var(--box-shadow-darken);
}