#sideBar > div{
    width: 100%;
}

#logoDiv{
    height: 15%;

    /* Centers child elements both horizontally and vertically (in this context, the sidebar logo)*/
    display: flex;
    justify-content: center;
    align-items: center;
}