#sideBar > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoDiv{
    flex: 1;
    margin-top: 5%;
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

#navigationOptionsDiv{
    flex: 10;
}

#settingsDiv{
    flex: 1;
    box-shadow: var(--box-shadow-lighten);
    margin-bottom: 5%;
    transition: 0.2s linear;
}

#settingsDiv:hover{
    cursor: pointer;
    border-radius: 10px;
}