#searchBar{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBarInput{
    width: 100%;
    height: 50%;
    border-radius: 50px;
    background-color: var(--primary-color);
    border: 1px solid var(--grey-border-color);
    transition: 0.2s linear;
    font-size: 1vmax;
    text-align: center;
}

#searchBarInput:focus{
    box-shadow: var(--box-shadow-darken);
}