#miscBar{
    display: flex;
    height: 5%;
    width: 95%;
    margin: auto;
}

#miscBar > button{
    flex: 1;
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    font-size: 0.75vmax;
    outline: none;
    border: none;
    margin-right: 10px;
}

#miscBar > button:hover{
    box-shadow: var(--box-shadow-lighten);
    border-radius: 15px;
}

#miscBar > button:active{
    background-color: var(--accent-color);
}