#miscBar{
    display: flex;
    height: 5%;
    width: 95%;
    margin: auto;
}

#miscBar > .react-contextmenu-wrapper{
    flex:1;
    display: flex;
    transition: 0.2s linear;
}

#miscBar > .react-contextmenu-wrapper:hover{
    box-shadow: var(--box-shadow-lighten);
    border-radius: 15px;
}

.miscBarMenuItem{
    font-size: 0.75vmax;
    transition: 0.2s linear;
}

.miscBarMenuItem:hover{
    box-shadow: var(--box-shadow-lighten);
}

#settingsDiv{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    font-size: 0.75vmax
}
