.toggleSwitchWrapper{
    display: flex;
    background-color: var(--secondary-color);
}

/* Rule sets that go here indicate the mandatory styling of each ToggleSwitch option */
.optionDiv{
    flex: 1;
    transition: 0.2s linear;
    font-size: 0.75vmax;

    /* Centers content within this div */
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionDiv:hover{
    cursor: pointer;

    /* Darkens */
    box-shadow: var(--box-shadow-lighten);
}

.selectedOptionDiv {
    background-color: var(--accent-color);
}