/* Rule sets that go here indicate the mandatory styling of each ToggleSwitch component */
.optionDiv{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
}

.optionDiv:hover{
    cursor: pointer;

    /* Darkens */
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.1) inset;

    /* Lightens: box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.1) inset; */
}

.selectedOptionDiv {
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.1) inset;
}