#communicationViewWrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

#communicationViewWrapper > div {
}

#communicationViewSideBarWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#communicationEntitySearchBarWrapper{
    flex: 1;
    background-color: var(--tertiary-color);
}