.centeredContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchViewWrapper{
    width: 100%;
    height: 100%;
}

#searchViewContent{
    width: 60%;
    height: 70%;
}

#topBarDiv{
    width: 100%;
    height: 10%;
    display: flex;
    font-size: 1vmax;
    color: var(--secondary-color);
}

#resultsDiv{
    width: 100%;
    height: 90%;
    border: 3px solid var(--grey-border-color);
}

.toggleDiv{
    flex: 1;
    border: 1px solid var(--accent-color);
    transition: 0.2s linear;
}

.toggleDiv:hover{
    box-shadow: var(--box-shadow-darken);
}

.selectedToggleDiv{
    color: var(--primary-color);
    background-color: var(--accent-color);
}

#searchModeToggleWrapper{
    flex: 0.5;
    display: flex;
}