.centeredContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchViewWrapper{
    width: 100%;
    height: 100%;
}

#searchViewContent{
    width: 60%;
    height: 70%;
}

#topBarDiv{
    width: 100%;
    height: 10%;
    display: flex;
}

#resultsDiv{
    width: 100%;
    height: 90%;
    border: 3px solid var(--grey-border-color);
}

.toggleDiv{
    flex: 1;
    border: 1px solid var(--accent-color);
}

.toggleDiv:hover, .selectedToggleDiv{
    box-shadow: var(--box-shadow-darken);
}

#searchModeToggleWrapper{
    flex: 1;
    display: flex;
}

#searchBarWrapper{
    flex: 3;
    padding: 20px;
}