.communicationEntitiesBar{
    overflow-y: auto;
    overflow-x: hidden;
    flex: 12;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);

}

.communicationEntityDiv{
    width: 100%;
    height: 100px; /* Note that the height does not scale, but the width does */
    transition: 0.2s linear;
}

.communicationEntityDiv:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow-lighten);
}

.selectedCommunicationEntity{
    box-shadow: var(--box-shadow-lighten);
}

/* The status indicator is an image. It has to use absolute positioning so it is on the corner of the display image */
.statusIndicator{
    position:absolute;
    top: 37px;
    left: 37px;
}

/* Div necessary to contain an 'image within an image' - Outer image is the display picture, inner image is the status indicator */
.displayImageDiv{
    margin: 0 20px;
    display: flex;
    float: left;
}

/* Holds the content (Username and last message) for the CommunicationEntity component */
.communicationEntityContentDiv{
    width: 60%;
    height: 70%;
    float: left;
}

/* Vertically centers the element relative to its parent container */
.verticallyCenteredRelativeToParent{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Styling for the text within communicationEntityContentDivs */
.communicationEntityContentDiv p{
    font-family: var(--font-family);
    margin-bottom: 5px;
    font-size: 12px;

    /* Replaces overflowing text with ellipsis */
    text-overflow: ellipsis;

    /* Required for text-overflow rule to apply */
    white-space: nowrap;
    overflow: hidden;
}

#userNameText{
    margin-top: 5px; /* For some reason, setting the font-family to var(--font-family) (see index.css) causes some unwanted margins. This line removes those unwanted margins */
    font-size: 20px;
}

.unreadMessageIndicator{
    margin-left: 5%;
}