#searchBar{
    width: 95%;
    height: 3%;
    margin: auto;
    margin-bottom: 3%;
    /* border: 1px solid green; */
}

#searchBarInput, #searchBarClearButton{
    width: 75%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    transition: 0.2s linear;
    font-size: 1vmax;
    text-align: center;
}

#searchBarInput:hover, #searchBarClearButton:hover{
    box-shadow: var(--box-shadow-lighten);
}

#searchBarInput:focus{
    background-color: var(--accent-color);
}

#searchBarClearButton{
    width: 20%;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 0px;
    color: var(--primary-color);
    margin-left: 2%;
}


#searchBarClearButton:hover{
    border-radius: 10px;
}

#searchBarClearButton:active{
    background-color: var(--accent-color);
}